pyglossary/plugins/appledict/jing/jing/lib/xhtml/modules/base.rng

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Base Module -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0">

<define name="base">
  <element name="base">
    <ref name="base.attlist"/>
  </element>
</define>

<define name="base.attlist">
  <attribute name="href">
    <ref name="URI.datatype"/>
  </attribute>
</define>

<define name="head.content" combine="interleave">
  <optional>
    <ref name="base"/>
  </optional>
</define>

</grammar>